<form onsubmit="return false">
    <div class="box">
        <div class="input-container">
            <input type="text" id="user-input-username" autocomplete="username" required #userCredentialUsername>
            <label for="user-input-username">Username:</label>
        </div>
        <div class="input-container">
            <input type="password" id="user-input-password" autocomplete="current-password" required #userCredentialPassword>
            <label for="user-input-password">Password:</label>
        </div>
        <div class="card-container">
            <button type="button" (click)="SignIn({username: userCredentialUsername.value, password: userCredentialPassword.value})"
                class="card card-small" tabindex="0">
                <span>Sign in</span>
            </button>
        </div>
        <div class="signUp">
            <p>Don't have an account? 
                <a routerLink="/app-signup-page">Sign up here!</a> 
            </p>
        </div>
    </div>
</form>