@import '../../../../variables.scss';

.wrap {
    width: 100%;
    position: relative;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.messageContainer {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 24px;
    border-radius: 20px;
    margin: 20px;
    max-width: 750px;
    min-width: 300px;
    width: 60%;
}

.userHeader {
    display: flex;
    // flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    // justify-content: flex-start;
}

.userImage {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.post-title {
    text-align: left;
}

.post-content {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 12px;
    text-align: left;
}

.post-username {
    font-weight: bold;
}

.post-handle {
    color: #657786;
}

.post-timestamp {
    text-align: right;
    color: #657786;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Remove default underline */
    color: $webPrimaryColor;
    /* Change link color */
}