@import '../../variables.scss';


#my-first {
    margin-top: -15px;
    
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $webPrimaryColor;
        color: $webSecondaryColor;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .burger {
        padding: 0 10px;
        border-left: 1px solid $webSecondaryColor;
        display: none;
        width:300px;
        cursor: pointer;

        i {
            color: $webSecondaryColor;
            line-height: $menuHeight;
        }

        @media (max-width: $menuBreakpoint) {
            display: block;
        }
    }

    .menu {
        display: flex;
        // align-items: center;

        @media (max-width: $menuBreakpoint) {
            display: none;

            &.is-open {
                display: block;
                position: relative;
            }
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}
