@import '../../variables.scss';


#my-first {
    margin-top: -15px;
        
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $headerColourY;
        color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .burger {
        padding: 0 10px;
        border-left: 1px solid #FFF;
        display: none;
        cursor: pointer;

        i {
            color: #FFF;
            line-height: $menuHeight;
        }

        @media (max-width: $menuBreakpoint) {
            display: block;
        }
    }

    .menu {
        display: flex;
        align-items: center;

        @media (max-width: $menuBreakpoint) {
            display: none;

            &.is-open {
                display: block;
                position: absolute;
                top: #{$menuHeight + 2};
                background:transparent;
                width: 100%;
            }
        }
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}
