<div class="box">

    <!-- Error message list -->
    <div *ngFor="let message of errorMessages">
        <p class="error-message">{{message}}</p>
    </div>

    <!-- First part of form -->

    <h2>Create Post</h2>
    <form (ngSubmit)="onCreatePost()">

        <div class="input-container">
            <textarea class="textTitle" id="post-title-input" type="text" [(ngModel)]="postTitle" name="Title" (input)="checkTitle()"
                placeholder="Title" required>
             </textarea>
            <!-- <label for="post-title-input">Title Name</label> -->
        </div>
        <div class="input-container">
            <!-- <input id="post-content-input" type="text" [(ngModel)]="postContent" name="Content" placeholder="Content"
                required /> -->
            <textarea class="textContent" id="post-content-input" type="text" [(ngModel)]="postContent" name="Content" placeholder="Content"
                (input)="checkContent()" required="">

                </textarea>
            <!-- <label for="post-content-input">Content</label> -->
        </div>

        <!-- Add more form fields as needed -->
        <button class="card card-small" type="submit">Create Post</button>
    </form>
</div>