@import '../../variables.scss';

h2 {
    color: $webSecondaryColor;
}

.box {
    position: relative;
    left: 50%;
    margin-top: 250px;
    max-width: 200px;
    min-width: 175px;
    transform: translate(-50%, -50%);
    border: 1px solid $webPrimaryColor;
    border-radius: 10px;
    padding: 30px 60px;
    background-color: $webPrimaryColor;
}

.default-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-container {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $webSecondaryColor;
}

.input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    // width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: $webSecondaryColor;
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid $webSecondaryColor;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -12px;
    font-size: 12px;

}

.signUp p,
a {
    margin-top: 20px;
    color: $webSecondaryColor;
}

a:hover {
    color: $webGrayHover;
}

.card {
    margin: 0;
}

.backarrow {
    width: 30px;
    height: 30px;
    padding: 0;
    position: fixed;
    margin: -14%;
}

.error-message {
 color: red;
}