<!-- Error message list -->

<!-- First part of form -->

<form (ngSubmit)="onSignUp()">
    <div class="box">

        <h2>Sign Up</h2>

        <!-- Error message list -->
        <div *ngFor="let message of errorMessages">
            <p class="error-message">{{message}}</p>
        </div>

        <ng-container *ngIf="!shouldMoveToNextForm">

            <div class="input-container">
                <input id="username-input" type="text" [(ngModel)]="username" name="username" (blur)="checkUsername()"
                    placeholder="@username" autocomplete="username" required>
            </div>

            <div class="input-container">
                <input id="display-name-input" type="text" [(ngModel)]="displayName" name="displayName"
                    placeholder="display name" required />
            </div>

            <div class="input-container">

                <input type="file" id="picture-path-input" name="profilePicture" (change)="onFileChange($event)"
                    placeholder="Default image" accept="image/*" hidden>
                <label for="picture-path-input">Upload image</label>
            </div>

            <div class="input-container" *ngIf="profilePicturePath">
                Image preview:
                <img [src]="profilePicturePath" alt="Profile Picture" width="100">
            </div>

            <button class="card card-small" (click)="shouldMoveToNextForm = true">Next</button>
        </ng-container>
        <!-- Next part of form -->
        <ng-container *ngIf="shouldMoveToNextForm">
            <button class="card card-small backarrow" (click)="shouldMoveToNextForm = false"> <-- </button>

                    <div class="input-container">
                        <input id="password-input" type="password" [(ngModel)]="password" name="password"
                            (blur)="checkPassword()" placeholder="password" autocomplete="new-password" required />
                    </div>

                    <div class="input-container">
                        <input id="password-verify-input" type="password" [(ngModel)]="passwordVerify"
                            name="passwordVerify" (blur)="checkPassword()" placeholder="verify password"
                            autocomplete="new-password" required />
                    </div>

                    <div class="input-container">
                        Private account: <input id="private-checkbox" type="checkbox" [(ngModel)]="isPrivate"
                            name="isPrivate" required />
                    </div>

                    <button class="card card-small" type="submit">Sign Up</button>
        </ng-container>
    </div>
</form>