<!-- <button class="card card-small" *ngIf="(isSignedIn$ | async) === true && !showPostForm" (click)="togglePostForm()">Create Post</button>
<button class="card card-small" *ngIf="(isSignedIn$ | async) === true && showPostForm" (click)="togglePostForm()">Cancel</button> -->
<button class="card card-small" *ngIf="(isSignedIn$ | async) === true" (click)="togglePostForm()">
    {{ showPostForm ? 'Cancel' : 'Create Post' }}
</button>
<app-post-form (refreshPostList)="refreshPostList()" *ngIf="showPostForm"></app-post-form>

