<div *ngIf="adminLogin">
    <!-- Admin code goes here -->
    
</div>
    <div class="dashboard">
        <h3>User Table</h3>
        <app-admin-board (callEditUser)="test($event)" (callDeleteUser)="test($event)" [userList]="userList"></app-admin-board>
        <h3>Post Table</h3>
        <app-admin-board-post (callEditPost)="testPost($event)" (callDeletePost)="testPost($event)" [postList]="postList"></app-admin-board-post>
    </div>





<!-- Login if not admin -->

<div *ngIf="adminLogin">
    <app-login-page></app-login-page>
</div>