<div class="user-edit-dialog">

    <h2>Edit User Details</h2>

    <form (ngSubmit)="onEdit()" #editForm="ngForm">
        <div class="form-group">
            <label for="displayName">Display Name:</label>
            <input type="text" id="displayName" name="displayName" [(ngModel)]="data.user.displayName"
               placeholder="{{ data.user.displayName}}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="profilePicture">Profile Picture:</label>
            <input type="file" id="profilePicture" name="profilePicture" (change)="onFileChange($event)"
                accept="image/*" class="form-control">
        </div>

        <!-- Display the uploaded image if available -->
        <div class="form-group" *ngIf="data.user.profilePicturePath">
            <label>Uploaded Image:</label>
            <img [src]="data.user.profilePicturePath" alt="Profile Picture" width="100">
        </div>
        <div class="form-check">
            <input type="checkbox" id="privateAccount" name="privateAccount" [(ngModel)]="data.user.isPrivate"
                class="form-check-input">
            <label for="privateAccount" class="form-check-label">Private Account</label>
        </div>

        <div class="button-container">
            <button class="card card-small" type="button" mat-button (click)="onCancel()">Cancel</button>
            <button class="card card-small" type="submit" mat-button color="primary">Save</button>
        </div>
    </form>
</div>