<div class="userInfoContainer" *ngIf="currentUser">

    <div class="userInfoTop">
        <img src="{{ currentUser.profilePicturePath }}"> 
        <h1>{{ currentUser.displayName}}</h1>
        <h2>@{{ currentUser.username }}</h2>
        <!-- More functionality -->
        <div *ngIf="(isSignedIn$|async) === true">
            <button class="card card-small" (click)="editProfileDialog('0ms', '0ms')" *ngIf="ownsAccount">Edit Profile</button>
            <button class="card card-small" *ngIf="!ownsAccount && !isFollowingUser" (click)="followUser()">Follow</button>
            <button class="card card-small" *ngIf="!ownsAccount && isFollowingUser" (click)="followUser()">Unfollow</button>
        </div>
        <div class="followCounts">
            <table>
                <tr>
                    <td>Followers</td>
                    <td>Following</td>
                </tr>
                <tr>
                    <td>{{ currentUser.followerCount }}</td>
                    <td>{{ currentUser.followingCount }}</td>
                </tr>
            </table>
        </div>
    </div>

    <ng-container *ngIf="currentUser.isPrivate">
        <div class="userInfoBottom">
            <h3>Private Account</h3>
        </div>
    </ng-container>

    <ng-container *ngIf="!currentUser.isPrivate || ownsAccount">
        <h3>Join Date</h3>
        <div class="userInfoBottom">
            <span>{{ currentUser.accountCreationDate | date: 'dd/MM/YYYY'}}</span>
        </div>
        <app-profile-posts [currentUser]="currentUser"></app-profile-posts>
    </ng-container>
</div>

<div *ngIf="!currentUser">
Loading Profile
</div>





