<div class="userInfoContainer" *ngIf="currentUser">

    <div class="userInfoTop">
        <img src="{{ currentUser.profilePicturePath }}"> 
        <h1>{{ currentUser.displayName}}</h1>
        <h2>@{{ currentUser.username }}</h2>
        <div class="followCounts">
            <table>
                <tr>
                    <td>Followers</td>
                    <td>Following</td>
                </tr>
                <tr>
                    <td>{{ currentUser.FollowerCount }}</td>
                    <td>{{ currentUser.FollowingCount }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="userInfoBottom">
        <h3>Join Date</h3>
        <span>{{ currentUser.accountCreationDate | date: 'dd/MM/YYYY' }}</span>
    </div>
</div>





