<div class="userInfoContainer" *ngIf="currentUser">

    <div class="userInfoTop">
        <img src="{{ currentUser.profilePicturePath }}"> 
        <h1>{{ currentUser.displayName}}</h1>
        <h2>@{{ currentUser.username }}</h2>
        <!-- More functionality -->
        <div *ngIf="isSignedIn"></div>
        <button class="card card-small" *ngIf="ownsAccount">Edit Profile</button>
            <button class="card card-small" *ngIf="isSignedIn && !ownsAccount">Follow</button>
        <div class="followCounts">
            <table>
                <tr>
                    <td>Followers</td>
                    <td>Following</td>
                </tr>
                <tr>
                    <td>{{ currentUser.followerCount }}</td>
                    <td>{{ currentUser.followingCount }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="userInfoBottom">
        <h3>Join Date</h3>
        <span>{{ currentUser.accountCreationDate | date: 'dd/MM/YYYY' }}</span>
    </div>
</div>

<div *ngIf="!currentUser">
    Profile not found
</div>





